body{
    background: linear-gradient(45deg, rgb(255, 159, 210), rgb(248, 139, 215), rgb(249, 249, 153), rgb(148, 249, 163), rgb(209, 232, 255), rgb(201, 126, 254), rgb(255, 143, 255));
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-shadow: 2px 2px 3px rgb(133, 155, 92);
}
h1, h4, h2, h3{
    font-family: cursive;
    text-align: center;
    color: rgb(45, 74, 179);
}
p{
    color: rgb(36, 30, 37);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 400px){
    img{
        width: 350px;
    }
    body{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "foot foot";
    }
}
@media screen and (min-width: 600px){
    img{
        width: 350px;
    }
    body{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "foot foot";
    }
}
@media screen and (min-width: 800px){
    img{
        width: auto;
    }
}
a:hover{
    color: rgb(226, 43, 198);
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper > div {
    border: solid rgb(190, 209, 255) 2px;
    border-radius: 4px;
    padding: 1em;
    background-color: rgb(255, 250, 250);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    grid-auto-rows: minmax(100px, auto);
}
.header {
    grid-column: 1 / 10;
    grid-row: 1;
}
.sidebar {
    grid-column: 1;
    grid-row: 2 / 7;
}
.one {
    grid-row: 2 / 7;
    grid-column: 2 / 10;
}
.footer{
    grid-column: 1 / 10;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #74d2f1; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}